p{
    color : #ffef41;
    font-size: 20px;
    font-family: 'times new roman', Courier, monospace;
}
#P1{
    color : #0767f7c4;
    font-size: 20px;
    font-family: 'times new roman', Courier, monospace;
}