p{
    color : #ffef41;
    font-size: 20px;
    font-family: 'times new roman', Courier, monospace;
}
#P1{
    color : #c935a7;
    font-size: 20px;
    font-family: 'times new roman', Courier, monospace;
}
#P2{
    color : #4710d1;
    font-size: 20px;
    font-family: 'times new roman', Courier, monospace;
}
#P3{
    color : #45f78f;
    font-size: 20px;
    font-family: 'times new roman', Courier, monospace;
}
#P4{
    color : #04e0f4;
    font-size: 20px;
    font-family: 'times new roman', Courier, monospace;
}
